*{
  font-family: 'comfortaa', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
  
}

.titleLeft{
  font-size: 30px;
}

.titleRight{
  font-family: hydrogentype;
  font-size: 20px;
}

h1,h2,h3,input,button{
  font-family: 'Good Times', system-ui;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: #060606;
  gap: 14px;
}

header{
  display: flex;
  align-items: stretch;
}

header, .main{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
}
header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 100%;
}
header button{
  border-radius: 14px;
  background: transparent;
  transition-duration: 200ms;
  cursor: pointer;
  
}
header button:hover{
  opacity: 0.7;
  background-color: #687eff;
}
header button, header input{
  padding: 14px 18px;
  border: none;
  outline: none;
  background:#272727;
  color: #cccccc;
}
p{
  font-size: 0.9em;
}
.main{
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.main img{
  height: 20px;
  
}
.todoItem{
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  background: #272727;
}
.todoItem p{
  flex: 1;
  color: #fdfdfd;
}
.actionsContainer{
  display: flex;
  align-items: center;
  gap: 14px;
}
.actionsContainer button{
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
  filter: invert(53%)
  sepia(70%)
  saturate(3516%) 
  hue-rotate(211deg)
  brightness(99%)
  contrast(105%);

}
.actionsContainer button:hover {
  opacity: 0.7;
    
}

@media (min-width: 640px) {
  header button, header input{
    font-size: 1.2em;
  }
  p{
    font-size: 1em;
  } 

}

@media (max-width:640px) {
  .titleLeft{
    font-size: 23px;
  }
}